conda list
list all availables packages
conda install package-name

In [3]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
data_ejercicio = pd.DataFrame({"ozono": [41, 36, 12, 18, np.nan, 33, 39, 42, 44, 54],
                               "radiacion": [190, 118, 149, 313, np.nan, np.nan, 250, 323, 278, 178],
                               "viento": [7.4, 8.0, 12.6, 11.5, 14.3, 12.4, 13.4, 9.9, 9.7, 8.5],
                               "temperatura": [19, 22, 23, 17, 14, 23, 24, 26, 18, 19],
                               "mes": [5, 5, 5, 5, 5, 6, 6, 6, 6, 6],
                               "dia": ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo", "lunes", "martes", "miercoles"]})

In [8]:
for col in data_ejercicio.columns:
    print(col)

ozono
radiacion
viento
temperatura
mes
dia

In [16]:
data_ejercicio.iloc[0:2]

   ozono  radiacion  viento  temperatura  mes     dia
0   41.0      190.0     7.4           19    5   lunes
1   36.0      118.0     8.0           22    5  martes

In [15]:
len(data_ejercicio["ozono"])

10

In [17]:
data_ejercicio[-2:]

   ozono  radiacion  viento  temperatura  mes        dia
8   44.0      278.0     9.7           18    6     martes
9   54.0      178.0     8.5           19    6  miercoles

In [20]:
data_ejercicio["ozono"][5]

33.0

In [23]:
data_ejercicio["ozono"].isnull().sum()

1

In [24]:
#Cual es la media de la columna ozono en el dataset? Excluir los valores no disponibles del calculo

In [29]:
data_ejercicio["ozono"].loc[~data_ejercicio["ozono"].isnull()].mean()

35.44444444444444

In [31]:
# Extraer el subset de filas del dataframe cuyos valores de ozono estan por encima de 31 
# y temperatura estan por encima de 20. Cuales la radiacion promedio en este subset?

In [32]:
de = data_ejercicio

In [42]:
de.loc[(de["ozono"] > 31) & (de["temperatura"] > 20)]["radiacion"].mean()

230.33333333333334

In [43]:
# Cual es la temperatura promedio de la temperatura cuando el mes es 6?

In [46]:
de.loc[de["mes"] == 6]["temperatura"].mean()

22.0

In [48]:
# Cual es el valor maximo de ozono cuando el mes es Mayo?

In [51]:
de.loc[de["mes"] == 5]["ozono"].max()

41.0